<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/app.js"></script>
    <title>About me</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>About me</h1>
        <img class="cat"
            src="https://static.toiimg.com/thumb/msid-67586673,width-800,height-600,resizemode-75,imgsize-3918697,pt-32,y_pad-40/67586673.jpg"
            alt="">

    </div>

    {{>footer}}
</body>

</html>